<div class="navbar-fixed">
<nav>
  <div class="nav-wrapper">
      <div class="container">
      <a href="#" class="brand-logo logo-font">Bookify</a>
      <ul class="right">
          <li>
              <button class=" btn customLocation">Chennai
                <i class="material-icons ">arrow_drop_down</i>
              </button>
            </li>
        <li><a href="#" class="btn waves-effect  customLoginButton">Login</a></li>
          <li><a href="#" class="btn waves-effect customSignupButton">Signup</a></li>
      </ul>
     
    </div>
  </div>
</nav>
</div>