<div class="navbar-fixed">
<nav>
  <div class="nav-wrapper">
      <div class="container">
      <a href="#" class="brand-logo logo-font">Bookify</a>
      <ul class="right">
          <li>
              <button class=" btn customLocation text-transform ">Chennai</button>
            </li>
        <li><a href="#" class="btn waves-effect  customLoginButton text-transform ">Login</a></li>
          <li><a href="#" class="btn waves-effect customSignupButton text-transform ">Signup</a></li>
      </ul>
     
    </div>
  </div>
</nav>
</div>