<div class="row">
    <div class="col m12"?>
        <div class="input-field">
            <input type="text" class="validate" id="username">
            <label for="username">Username</label>
        </div>

        <div class="input-field">
                <input type="text" class="validate" id="password">
                <label for="password">Password</label>
            </div>
        <div class="row">
            <button class="btn waves-light waves-effect">Login
                <i class="material-icons right">chevron_right</i>
            </button>
        </div>
    </div>
</div>